{% extends "planner/base.html" %}

{% block title %}Planner{% endblock %}
{% block content %}
<style>
    tr.strikeout td:before {
    content: " ";
    position: absolute;
    top: 45%;
    left: 0;
    border-bottom: 1px solid #111;
    width: 100%;
}
</style>
<div class="container">
    <h1>Welcome to the Planner</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h3>Tasks:</h3>
            <form id="task-form" method="post", action="/planner/" class="form-row" autocomplete="off">
                {% csrf_token %}
                <div class="col-9">
                    {{ form.description }}
                </div>
                <div class="col-2">
                    {{ form.minutes_to_complete }}
                </div>
                <div class="col-1">
                    <input class="btn btn-primary" type="submit" value="+">
                </div>
            </form>
            {% if tasks %}
            <table class="table table-hover">
                <tbody id="task_sortable" class="sortable">
                    {% for task in tasks %}
                    <tr
                            class="completable
                            {% if task.is_completed %} table-active strikeout{% endif %}
                            {% if task.agenda_items.all %} table-warning {% endif %}
                            "
                            data-taskid="{{task.id}}">
                        <td class="col-8">{{ task.description  }}
                        {% if task.agenda_items.all %}
                            ({{ task.agenda_items.all.0.start_time }})
                        {% endif %}
                        </td>
                        <td class="col-2">({{ task.minutes_to_complete }}min)</td>
                        <td class="col-2"><a class="btn btn-sm btn-danger"
                                             data-confirm="Are you sure?"
                                             data-method="delete"
                                             href="delete_task/{{ task.id }}"
                                             rel="nofollow">X</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                <br />
            </table>
            {% endif %}
        </div>
        <div class="col">
            <h3>Agenda {{ agenda.date }}</h3>
            {% if agenda.agenda_items %}
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col" class="col-3">Start Time</th>
                        <th scope="col" class="col-7">Task</th>
                        <th scope="col" class="col-2"></th>
                    </tr>
                </thead>
                <tbody id="agenda_items">
                    {% for item in agenda.agenda_items.all %}
                    <tr>
                        <td>
                            <input class="time-input"
                                   type="time"
                                   value="{{ item.start_time|date:'H:i' }}"
                                   autocomplete="off"
                                   data-itemid="{{item.id}}"
                            />
                        </td>
                        <td>{{ item.task.description }}</td>
                        <td><a class="btn btn-sm btn-warning"
                                             data-confirm="Are you sure?"
                                             data-method="delete"
                                             href="delete_agenda_item/{{ item.id }}"
                                             rel="nofollow" >-</a></td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
            {% endif %}
        </div>
    </div>


</div>

<!--<script>-->
<!--// AJAX for posting-->
<!--function create_task() {-->
<!--    console.log("create post is working!") // sanity check-->
<!--    $.ajax({-->
<!--        url : "create_task/", // the endpoint-->
<!--        type : "POST", // http method-->
<!--        data : { 'description' : $('#task_name').val(),-->
<!--                   'minutes_to_complete': $('#min').val()}, // data sent with the post request-->

<!--        // handle a successful response-->
<!--        success : function(json) {-->
<!--            $('#task_name').val(''); // remove the value from the input-->
<!--            console.log(json); // log the returned json to the console-->
<!--            console.log("success"); // another sanity check-->
<!--        },-->

<!--        // handle a non-successful response-->
<!--        error : function(xhr,errmsg,err) {-->
<!--            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+-->
<!--                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom-->
<!--            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console-->
<!--        }-->
<!--    });-->
<!--};-->


<!--    // Submit post on submit-->
<!--$('#task-form').on('submit', function(event){-->
<!--    event.preventDefault();-->
<!--    console.log("form submitted!")  // sanity check-->
<!--    create_task();-->
<!--});-->

<!--$(function() {-->


<!--    // This function gets cookie with a given name-->
<!--    function getCookie(name) {-->
<!--        var cookieValue = null;-->
<!--        if (document.cookie && document.cookie != '') {-->
<!--            var cookies = document.cookie.split(';');-->
<!--            for (var i = 0; i < cookies.length; i++) {-->
<!--                var cookie = jQuery.trim(cookies[i]);-->
<!--                // Does this cookie string begin with the name we want?-->
<!--                if (cookie.substring(0, name.length + 1) == (name + '=')) {-->
<!--                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));-->
<!--                    break;-->
<!--                }-->
<!--            }-->
<!--        }-->
<!--        return cookieValue;-->
<!--    }-->
<!--    var csrftoken = getCookie('csrftoken');-->

<!--    /*-->
<!--    The functions below will create a header with csrftoken-->
<!--    */-->

<!--    function csrfSafeMethod(method) {-->
<!--        // these HTTP methods do not require CSRF protection-->
<!--        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));-->
<!--    }-->
<!--    function sameOrigin(url) {-->
<!--        // test that a given url is a same-origin URL-->
<!--        // url could be relative or scheme relative or absolute-->
<!--        var host = document.location.host; // host + port-->
<!--        var protocol = document.location.protocol;-->
<!--        var sr_origin = '//' + host;-->
<!--        var origin = protocol + sr_origin;-->
<!--        // Allow absolute or scheme relative URLs to same origin-->
<!--        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||-->
<!--            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||-->
<!--            // or any other URL that isn't scheme relative or absolute i.e relative.-->
<!--            !(/^(\/\/|http:|https:).*/.test(url));-->
<!--    }-->

<!--    $.ajaxSetup({-->
<!--        beforeSend: function(xhr, settings) {-->
<!--            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {-->
<!--                // Send the token to same-origin, relative URLs only.-->
<!--                // Send the token only if the method warrants CSRF protection-->
<!--                // Using the CSRFToken value acquired earlier-->
<!--                xhr.setRequestHeader("X-CSRFToken", csrftoken);-->
<!--            }-->
<!--        }-->
<!--    });-->

<!--});-->
<!--</script>-->
{% endblock content %}

{% block javascript %}
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script>
function completeTask(event){
    console.log('called completeTask()');
    console.log(event.currentTarget.dataset.taskid);
    window.location='toggle_complete_task/' + event.currentTarget.dataset.taskid;
}

function updateAgendaItem(event){
    originalValue = event.target.defaultValue;
    newValue = event.target.value;
    console.log(event.target.value);
    console.log(event.target.defaultValue);
    if ( originalValue !== newValue) {
        window.location='update_agenda_item/' + event.currentTarget.dataset.itemid + '/new_time/' + newValue;
    }
}
$(function() {
    $(".completable").click(completeTask);
    $(".time-input").blur(updateAgendaItem);
    var oldList, newList, item;
    $('#task_sortable').sortable({
        start: function(event, ui) {
            console.log('start');
            isBeingSorted = true;
            item = ui.item;
            newList = oldList = ui.item.parent().parent();
        },
        stop: function(event, ui) {
            console.log('stop');
<!--            alert("Moved " + item.text() + " from " + oldList.attr('id') + " to " + newList.attr('id'));-->
            if(oldList.attr('id') != newList.attr('id')){
                ui.item.clone().appendTo(newList.find('.sortable'));
                $(this).sortable('cancel');
            }
            event.stopPropagation();
            isBeingSorted = false;
        },
        change: function(event, ui) {
            console.log('change');
            if(ui.sender)
                newList = ui.placeholder.parent().parent();
        },
        update: function(event, ui) {
            console.log('update');
        },
        helper: "clone",
        connectWith: "#agenda_items"
    }).disableSelection();
    $('#agenda_items').sortable({
        revert: true,
        receive: function(event, ui) {
            task_id = ui.item[0].dataset.taskid;
            console.log("taskid: ", task_id);
            item_index = ui.item.index()
            console.log("item_index: ",item_index);
            window.location='add_task/' + task_id + '/at_index/' + item_index;
        }
    })
});
</script>
{% endblock javascript %}