{% extends "planner/base.html" %}
{% block style %}
<link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css' rel='stylesheet' />
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js'></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    $(".completable").click(completeTask);
    var Calendar = FullCalendar.Calendar;
    var Draggable = FullCalendar.Draggable;


    var containerEl = document.getElementById('tasks');
    var calendarEl = document.getElementById('agenda');
    var checkbox = document.getElementById('drop-remove');

    // initialize the external events
    // -----------------------------------------------------------------

    new Draggable(containerEl, {
      itemSelector: '.task',
      eventData: function(eventEl) {
        console.log(eventEl);
        return {
          title: eventEl.querySelector(".description").innerText,
          duration: {minutes: eventEl.dataset.duration}
        };
      }
    });

    // initialize the calendar
    // -----------------------------------------------------------------

    var calendar = new Calendar(calendarEl, {
      initialView: 'timeGridDay',
<!--      slotDuration: {minutes: 15},-->
      weekNumbers: true,
      nowIndicator: true,
      editable: true,
      droppable: true, // this allows things to be dropped onto the calendar
      drop: function(info) {
        console.log(info);
        window.location='add_task/' + info.draggedEl.dataset.taskid +
        '/at_time/' + info.date.getHours()+':'+info.date.getMinutes();
      },
      eventClick: function(mouseClickInfo) {
        console.log(mouseClickInfo.event.id);
        mouseClickInfo.event.remove();
        window.location='delete_agenda_item/' + mouseClickInfo.event.id;
      },
      eventResize: function(eventResizeInfo) {
        console.log('event resized', eventResizeInfo);
        event = eventResizeInfo.event;
        duration_min = (event.end - event.start) / 60000
        console.log('new duration in minutes:', duration_min);
        //update remotely
        updateDuration(event.id, duration_min);
      },
      events:
      [
        {% for item in agenda.agenda_items.all %}
            {
                id: {{ item.id }},
                title: "{{ item.task.description }}",
                startTime: "{{ item.start_time|date:'H:i' }}",
                duration: {minutes: {{ item.task.minutes_to_complete }}}
            },
        {% endfor %}
      ]
    });

    calendar.render();
  });
</script>
<style>
tr.strikeout td:before {
    content: " ";
    position: absolute;
    top: 45%;
    left: 0;
    border-bottom: 1px solid #111;
    width: 100%;
}
#agenda {
    height: 90vh
}
</style>
{% endblock style %}
{% block title %}Planner{% endblock title %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <h1>Welcome to the Planner</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div id="tasks" class="col">
            <h3>Tasks:</h3>
            <form id="task-form" method="post", action="/planner/" class="form-row" autocomplete="off">
                {% csrf_token %}
                <div class="col-9">
                    {{ form.description }}
                </div>
                <div class="col-2">
                    {{ form.minutes_to_complete }}
                </div>
                <div class="col-1">
                    <input class="btn btn-primary" type="submit" value="+">
                </div>
            </form>
            {% if tasks %}
            <table class="table table-hover">
                <tbody id="task_sortable" class="sortable tasks">
                    {% for task in tasks %}
                    <tr
                            class="completable task
                            {% if task.is_completed %} table-active strikeout{% endif %}
                            {% if task.agenda_items.all %} table-warning {% endif %}
                            "
                            data-taskid="{{task.id}}"
                            data-duration="{{task.minutes_to_complete}}">
                        <td class="col-8 description">{{ task.description  }}
                        {% if task.agenda_items.all %}
                            ({{ task.agenda_items.all.0.start_time }})
                        {% endif %}
                        </td>
                        <td class="col-2">({{ task.minutes_to_complete }}min)</td>
                        <td class="col-2"><a class="btn btn-sm btn-danger"
                                             data-confirm="Are you sure?"
                                             data-method="delete"
                                             href="delete_task/{{ task.id }}"
                                             rel="nofollow">X</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                <br />
            </table>
            {% endif %}
        </div>
        <div id="agenda" class="col"></div>
    </div>

</div>

{% endblock content %}

{% block javascript %}
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script>

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');

function completeTask(event){
    console.log('called completeTask()');
    console.log(event.currentTarget.dataset.taskid);
    window.location='toggle_complete_task/' + event.currentTarget.dataset.taskid;
}

function updateAgendaItem(event){
    originalValue = event.target.defaultValue;
    newValue = event.target.value;
    console.log(event.target.value);
    console.log(event.target.defaultValue);
    if ( originalValue !== newValue) {
        window.location='update_agenda_item/' + event.currentTarget.dataset.itemid + '/new_time/' + newValue;
    }
}
function updateDuration(taskId, newDuration) {
    $.ajax({
        type: 'POST',
        url: '{% url 'update_task_duration' %}',
        contentType: "application/json; charset=utf-8",
        datatype: 'json',
        data: JSON.stringify({taskId: taskId, duration: newDuration}),
        headers: {'X-CSRFToken': csrftoken},
        success: function(response) {
            console.log('updateDuration success!', response);
        },
        error: function(response) {
            console.log('updateDuration error!');
        }
    });
}

function createTask() {
    var serializedData = $(this).serialize();
    // make POST ajax call
    $.ajax({
        type: 'POST',
        url: "{% url 'create_task' %}",
        data: serializedData,
        success: function (response) {
            console.log('successfully added!');
            // on successfull creating object
            // 1. clear the form.
            $("#friend-form").trigger('reset');
            // 2. focus to nickname input
            $("#id_nick_name").focus();
            // display the newly friend to table.
            var instance = JSON.parse(response["instance"]);
            var fields = instance[0]["fields"];
            $("#my_friends tbody").prepend(
                `<tr>
                <td>${fields["nick_name"]||""}</td>
                <td>${fields["first_name"]||""}</td>
                <td>${fields["last_name"]||""}</td>
                <td>${fields["likes"]||""}</td>
                <td>${fields["dob"]||""}</td>
                <td>${fields["lives_in"]||""}</td>
                </tr>`
            )
        },
        error: function (response) {
            // alert the error if any error occured
            alert(response["responseJSON"]["error"]);
        }
    })
}

</script>
{% endblock javascript %}