{% extends "planner/base.html" %}

{% block title %}Planner{% endblock %}
{% block content %}
<h1>Welcome to the Planner</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <h3>Tasks:</h3>
            <form id="task-form" method="post", action="/planner/" class="form-row" >
                {% csrf_token %}
                <div class="col">
                    {{ form.description }}
                </div>
                <div class="col">
                    {{ form.minutes_to_complete }}
                </div>
                <div class="col">
                    <input class="btn btn-primary" type="submit" value="Add Task">
                </div>
            </form>
            <ul>
                {% for task in tasks %}
                <li>[{% if task.is_completed %} X {% endif %}]
                    {{ task.description  }}
                    ({{ task.minutes_to_complete }}min)
                    <a class="btn btn-sm btn-danger" data-confirm="Are you sure?" data-method="delete" href="delete_task/{{ task.id }}" rel="nofollow">X</a>
                </li>
                {% endfor %}
                <br />
            </ul>
        </div>
        <div class="col">
            <h3>Agenda {{ agenda.date }}</h3>
            {% if agenda_items %}
            <table>
                {% for item in agenda_items %}
                <tr>
                    <td>{{ item.start_time }}</td>
                    <td>{{ item.task.description }}</td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
    </div>


</div>

<!--<script>-->
<!--// AJAX for posting-->
<!--function create_task() {-->
<!--    console.log("create post is working!") // sanity check-->
<!--    $.ajax({-->
<!--        url : "create_task/", // the endpoint-->
<!--        type : "POST", // http method-->
<!--        data : { 'description' : $('#task_name').val(),-->
<!--                   'minutes_to_complete': $('#min').val()}, // data sent with the post request-->

<!--        // handle a successful response-->
<!--        success : function(json) {-->
<!--            $('#task_name').val(''); // remove the value from the input-->
<!--            console.log(json); // log the returned json to the console-->
<!--            console.log("success"); // another sanity check-->
<!--        },-->

<!--        // handle a non-successful response-->
<!--        error : function(xhr,errmsg,err) {-->
<!--            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+-->
<!--                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom-->
<!--            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console-->
<!--        }-->
<!--    });-->
<!--};-->


<!--    // Submit post on submit-->
<!--$('#task-form').on('submit', function(event){-->
<!--    event.preventDefault();-->
<!--    console.log("form submitted!")  // sanity check-->
<!--    create_task();-->
<!--});-->

<!--$(function() {-->


<!--    // This function gets cookie with a given name-->
<!--    function getCookie(name) {-->
<!--        var cookieValue = null;-->
<!--        if (document.cookie && document.cookie != '') {-->
<!--            var cookies = document.cookie.split(';');-->
<!--            for (var i = 0; i < cookies.length; i++) {-->
<!--                var cookie = jQuery.trim(cookies[i]);-->
<!--                // Does this cookie string begin with the name we want?-->
<!--                if (cookie.substring(0, name.length + 1) == (name + '=')) {-->
<!--                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));-->
<!--                    break;-->
<!--                }-->
<!--            }-->
<!--        }-->
<!--        return cookieValue;-->
<!--    }-->
<!--    var csrftoken = getCookie('csrftoken');-->

<!--    /*-->
<!--    The functions below will create a header with csrftoken-->
<!--    */-->

<!--    function csrfSafeMethod(method) {-->
<!--        // these HTTP methods do not require CSRF protection-->
<!--        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));-->
<!--    }-->
<!--    function sameOrigin(url) {-->
<!--        // test that a given url is a same-origin URL-->
<!--        // url could be relative or scheme relative or absolute-->
<!--        var host = document.location.host; // host + port-->
<!--        var protocol = document.location.protocol;-->
<!--        var sr_origin = '//' + host;-->
<!--        var origin = protocol + sr_origin;-->
<!--        // Allow absolute or scheme relative URLs to same origin-->
<!--        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||-->
<!--            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||-->
<!--            // or any other URL that isn't scheme relative or absolute i.e relative.-->
<!--            !(/^(\/\/|http:|https:).*/.test(url));-->
<!--    }-->

<!--    $.ajaxSetup({-->
<!--        beforeSend: function(xhr, settings) {-->
<!--            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {-->
<!--                // Send the token to same-origin, relative URLs only.-->
<!--                // Send the token only if the method warrants CSRF protection-->
<!--                // Using the CSRFToken value acquired earlier-->
<!--                xhr.setRequestHeader("X-CSRFToken", csrftoken);-->
<!--            }-->
<!--        }-->
<!--    });-->

<!--});-->
<!--</script>-->
{% endblock %}